* {
    font-family: FontAwesome, Monocraft;
    font-size: 14px;
}

window#waybar {
    background: transparent;
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#custom-launcher {
  padding: 0 10px;
  margin-left: 5px;
  color: #f0f0f0;
  border-radius: 99px;
  background: 
      linear-gradient(rgba(40, 40, 40, 1), rgba(40, 40, 40, 1)) padding-box,
      linear-gradient(90deg, #8ec07c, #d5c4a1) border-box;
  background-clip: padding-box, border-box;
  border: 3px solid transparent;
}
#custom-power {
    padding: 0 10px;
    margin-left: 5px;
    color: #f0f0f0;
    border-radius: 99px;
    background: 
        linear-gradient(rgba(40, 40, 40, 1), rgba(40, 40, 40, 1)) padding-box,
        linear-gradient(90deg, #8ec07c, #d5c4a1) border-box;
    background-clip: padding-box, border-box;
    border: 3px solid transparent;
}
#custom-workspaces {
    padding: 0 10px;
    margin-left: 5px;
    color: #f0f0f0;
    border-radius: 99px;
    background: 
        linear-gradient(rgba(40, 40, 40, 1), rgba(40, 40, 40, 1)) padding-box,
        linear-gradient(90deg, #8ec07c, #d5c4a1) border-box;
    background-clip: padding-box, border-box;
    border: 3px solid transparent;
}


button {
    box-shadow: none;
    border: none;
    border-radius: 0;
    transition: background-color 0.3s ease;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -2px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.05);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -2px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -2px #ffffff;
}

#taskbar {
    padding: 2px 0;
    margin-left: 4px;
    border-radius: 99px;
    background: 
        linear-gradient(rgba(40, 40, 40, 1), rgba(40, 40, 40, 1)) padding-box,
        linear-gradient(90deg, #8ec07c, #d5c4a1) border-box;
    background-clip: padding-box, border-box;
    border: 3px solid transparent;
}

#taskbar button {
    color: #f0f0ff;
    background-color: rgba(40, 40, 40, 1);
    background-clip: padding-box, border-box;
    border-radius: 99px;
}

#taskbar button:first-child {
    border-radius: 99px;
    background-clip: padding-box, border-box;
}
#taskbar button:last-child {
    border-radius: 99px;
    background-clip: padding-box, border-box;
}

#taskbar button.active {
    background-color: rgba(55, 55, 55, 1);
}

#taskbar button.active:hover {
    background-color: rgba(108, 112, 134, 0.6);
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-window,
#scratchpad,
#power-profiles-daemon {
    margin-top: 2px;
    padding: 0 13px;
    color: #f0f0f0;
    border-radius: 99px;
    background: 
        linear-gradient(rgba(40, 40, 40, 1), rgba(40, 40, 40, 1)) padding-box,
        linear-gradient(90deg, #8ec07c, #d5c4a1) border-box;
    background-clip: padding-box, border-box;
    border: 3px solid transparent;
}


#window,
#workspaces {
    margin: 0 4px;
}

#battery.charging,
#battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

